.grid_container{
    margin-top: 20em;
    margin-left: 60em;
    display: grid;
    grid-template-columns: 10px 10px;
    grid-template-rows: 50px 50px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: center;
    align-items: center;
}

.buttons_container {
    display: flex;
    gap: 5px;
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    justify-content: center;
}

.input{
    border: 2px solid aqua;
    border-radius: 5px;
    height: 25px;
}

#input{
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    justify-self: center;
}

.first_button{
    height: 1.5em;
    width: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: aqua;
    font-weight: 600;
}

.second_button{
    height: 1.5em;
    width: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: aqua;
    font-weight: 600;
}

.bottom_container{
    display: flex;
    justify-content: right;
    margin-top: 25em;
}
